<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KnowYourFacts.Properties.Settings.DatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\kbroskie\Documents\Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="KnowYourFacts.Properties.Settings.KnowYourFactsDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\kbroskie\Documents\Visual Studio 2013\Projects\WindowsFormsApplication1\WindowsFormsApplication1\Properties\Resources\KnowYourFactsDatabase.mdf&quot;;Integrated Security=True" />
        <add name="KnowYourFacts.Properties.Settings.KnowYourFactsDatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Properties\Resources\KnowYourFactsDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="KnowYourFacts.Properties.Settings.TestConnection"
            connectionString="Data Source=(localdb)\Projects;Initial Catalog=KnowYourFactsDatabase;Integrated Security=True;Pooling=False;Connect Timeout=30"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>